body{
    background: black;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.postcard{
    background: white;
    width: 40%;
    height: 55%; 
    position: absolute;
    font-family: 'Averia Sans Libre', cursive;
}

.header{
    display:flex;
    justify-content: space-between;
}

h1{
    padding: 1rem; 
}

img{
    width: 12%;
    height: 12%;
    padding: 1rem; 
}

.middle{
    display:flex;    
    align-items:center;
}

.leftPart{
    padding: 1rem;    
}

.rightPart{
    padding: 1rem; 
}

.down {
    display: flex;
    justify-content: center;
}

.imputIcon{
    display: flex;
    justify-content: center space-between;
    align-items: baseline;
}

input{
    border: none;
    outline: none;
    border-bottom-style: groove;
    font-family: 'Averia Sans Libre', cursive;
}

.theIcon {
    color:rgb(87, 85, 85);
}

button{
    padding: 1rem;
    border: none;
    background: rgb(126, 120, 120);
    outline: none;
    border-radius: 1rem;
    font-family: 'Averia Sans Libre', cursive;
    color:white;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}